@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* css styling start  */

.hide-sec{
    /* margin: 0px 50px;; */
    display: none;
    /* justify-content: space-between;   
    height: 50px;
    width: 50px; */
}
#vigation{
    height: 50px;
    width: 50px;
}


body{
    background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-color: rgba(254, 163, 1, 0.3)
    rgba(255, 255, 255, 0.3);
}

.container{
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;
}
.first-icon{
    display: flex;
    text-align: left;
}
.school{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
}
.navbar{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}
.btn-primary{
   margin-top: 2rem;
   justify-content: center;
   align-items: center;
}
.home{
    color: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 500;
}
.about{
    font-size: 20px;
    font-weight: 500;
    color: rgb(1, 172, 253);
}
.facilities{
    font-size: 20px;
    font-weight: 500;
    color: rgb(5, 212, 223);
}
.admission{
    font-size: 20px;
    font-weight: 500;
    color:rgb(93, 88, 239) ;
}
.contact-btn{
    background-color: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 12px;
    border: none;
}
.students{
    margin: 0px 100px;
    display: flex;
    gap: 50px;
}
.student-container{
    margin-top: 100px;
}  
.student-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.power{
    color:rgb(254, 163, 1) ;
}
.small-age{
    color: rgb(17, 17, 17);
}
.vision{
    color:rgb(1, 172, 253) ;
}
.student-description{
    font-size: 20px;
    font-weight: 400;
}
.enroll-btn{
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px;
    border: none;
}
#caption{
     margin: 0px 100px;
     text-align: center;
     font-size: 20px;
     font-weight: 500;
     color: rgb(0, 0, 0);
}
.header{
    display: flex;
    margin: 0px 100px;
    gap: 20px;
}
.kinder{
    padding: 12px;    
    align-items: center;
    text-align: center;
    border: 2px solid green;
    border-radius: 20px;
    /* c k  */

    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.elemendery{
    padding: 8px;    
    align-items: center;
    text-align: center;
    border: 2px solid green;
    border-radius: 20px;
    /* c k style  */
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.middle{
    padding: 8px;    
    align-items: center;
    text-align: center;
    border: 2px solid green;
    border-radius: 20px;
    /* c k style  */
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.title{
    color:rgb(32, 32, 32) ;
    font-size: 24px;
    font-weight:700;
}
.para{
    font-size: 15px;
    font-weight: 500;
    color: rgb(128, 128, 128);
    
}
.first-btn{
    font-size: 15px;
    font-weight: 500;
    color: rgb(100, 200, 255);
    border: none;
    border-radius: 8px;
    padding: 6px;
    background: transparent;
}
.second-btn{
    font-size: 15px;
    font-weight: 500;
    color: rgb(240, 170, 0);
    border: none;
    border-radius: 8px;
    padding: 6px;
    background: transparent;
}
.third-btn{
    font-size: 15px;
    font-weight: 500;
    color: rgb(135, 0, 255);
    border: none;
    border-radius: 8px;
    padding: 6px;
    background: transparent;
}
.arrows{
    margin: 0px 100px;
    /* height:40px;
    width: 50px; */
    display: flex;
    gap: 10px;
    margin-left: 50%;
    
}
.left-arrow{
    background-color: rgb(254, 163, 1);
    color: whitesmoke;
    border-radius: 50%;
    border: none;
    padding: 8px;
    justify-content: center;
    align-items: center;
}
.right-arrow{
    background-color: rgb(254, 163, 1);
    color: whitesmoke;
    border-radius: 50%;
    border: none;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

.stories{
    font-family: Quicksand;
    margin: 0px 100px;
    text-align: center;
    font-size: 46px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.months{
    margin: 0px 100px;
    display: flex;
    gap: 30px;
    border-radius: 15px;
}

.big-box{
    /* height: 550px;
    width: 440px; */
    background: rgb(217, 217, 217);
    border-radius: 15px;
    text-align: center;
    
}
.afun{
    font-size: 24px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.img-border{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.four-box{
    /* height: 275px;
    width: 270px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    /* border: 2px solid firebrick; */
    padding-left: 10px;
}
.imgone{
    /* height:auto;
    width: 270px; */
    border-radius: 15px 15px 0px 0px;
}


.box-one{
    background: rgb(217, 217, 217);
    /* height: 265px;
    width: 270px; */
    border-radius: 15px;
    text-align: center;
    align-items: center;
    /* border: 2px solid green; */
    padding-bottom: 8px;
}
.box-two{
    background: rgb(217, 217, 217);
    /* height: 265px;
    width: 270px; */
    border-radius: 15px;
    text-align: center;
    align-items: center;
    /* border: 2px solid green; */
    padding-bottom: 8px;
}
.box-three{
    background: rgb(217, 217, 217);
    /* height: 265px;
    width: 270px; */
    border-radius: 15px;
    text-align: center;
    align-items: center;
    /* border: 2px solid green; */
    padding-bottom: 8px;
}
.box-four{
    background: rgb(217, 217, 217);
    /* height: 265px;
    width: 270px; */
    border-radius: 15px;
    text-align: center;
    align-items: center;
    /* border: 2px solid green; */
    padding-bottom: 8px;
}
 .half-btn{
    border-radius: 45px;
    /* padding: 9px; */
   position: relative;
   left: -5px;
   top: -15px;
   padding: 5px;
    border:none;
    color: rgb(255, 255, 255);
 }
 .box-header{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight:  600;
    text-align: center;
    padding: 7px;
 }
#idone{
    background: rgb(60, 216, 232);
    
}
#idtwo{
    background: rgb(149, 178, 38);
}
#idthree{
    background:rgb(93, 88, 240);
}
#idfour{
    background: rgb(149, 178, 38);
}
#idfive{
    background:rgb(149, 178, 38) ;
}
.last-section{
    margin: 0px 100px;
    text-align: center;
   
}
.last-btn{

    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    padding: 8px;
}
.footer-section{
    background-color: rgb(1, 172, 253);
    /* display: flex; */
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px;
    
}
.footer-one{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    padding: 8px;
}
.footer-two, .footer-three{
    padding-left: 110px;
}
.peralage{
   color: rgb(255, 255, 255);
   font-size: 20px;
   font-weight: 400;
   /* text-align: center; */
}
.footer-out{
    display:flex;
}
.kid-edu{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
}
.about-me{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
}
.stiling{
    color: rgb(255, 255, 255);
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}


/* media queries styling start  */


@media screen and (max-width:390px){
    .container, .navbar{
        display:none;
    }
    .students{
       
        margin: none;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .student-container{
       width: 250px;
       margin: 0;
    }
    .hero{
        width: 250px;
    }
    .header{
        width: 250px;
        display: flex;
        flex-direction: column;
        /* margin: 0px 60px; */
        align-items: center;
    }
    .arrows{
        display:none;
    }
    .months{
        margin-left: 0px;
        display: flex;
        width: 250px;
        flex-direction: column;
        align-items: center;
        margin: 0px 60px;
    }
    .big-box{
        display: none;
    }
    .four-box{
        width: 250px;
        grid-template-columns: repeat(1, 1fr);
        margin: none;
    }
    .last-section{
        width: 250px;
        text-align: center;
    }
    .footer-section{
        /* /* width: 250px; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* height: 100%; */ */
        /* display: flex;
        flex-direction: column; */
    }
    .hide-sec{
        /* width: 250px; */
        /* display:block; */
       
        justify-content: space-between;
        height: 50px;
        width: 50px;
        display: flex;
    }
    /* #vigation{
        height: 50px;
        width: 50px;
    } */
    .last-btn{
        margin: 0px 50px;
        align-items: center;
    }
   
     .talatali{
        margin-left: 255px;
        /* margin-top: -130px; */
    } 
    .student-title{
        font-size: 24px;
        font-weight: 700;
    }

}