@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* css styling start  */

.container{
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;
}
.first-icon{
    display: flex;
    text-align: left;
}
.school{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;
}
.navbar{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}
.btn-primary{
   margin-top: 2rem;
   justify-content: center;
   align-items: center;
}
.home{
    color: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 500;
}
.about{
    font-size: 20px;
    font-weight: 500;
    color: rgb(1, 172, 253);
}
.facilities{
    font-size: 20px;
    font-weight: 500;
    color: rgb(5, 212, 223);
}
.admission{
    font-size: 20px;
    font-weight: 500;
    color:rgb(93, 88, 239) ;
}
.contact-btn{
    background-color: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 12px;
    border: none;
}
.students{
    margin: 0px 100px;
    display: flex;
    gap: 50px;
}
.student-container{
    margin-top: 100px;
}  
.student-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.power{
    color:rgb(254, 163, 1) ;
}
.small-age{
    color: rgb(17, 17, 17);
}
.vision{
    color:rgb(1, 172, 253) ;
}
.student-description{
    font-size: 20px;
    font-weight: 400;
}
.enroll-btn{
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    padding: 8px;
    border: none;
}
#caption{
     margin: 0px 100px;
     text-align: center;
     font-size: 20px;
     font-weight: 500;
     color: rgb(0, 0, 0);
}
.header{
    display: flex;
    margin: 0px 100px;
    gap: 10px;
}
.kinder{
    padding: 8px;    
    align-items: center;
    text-align: center;
    border: 2px solid green;
    border-radius: 20px;
}
.elemendery{
    padding: 8px;    
    align-items: center;
    text-align: center;
    border: 2px solid green;
    border-radius: 20px;
}
.middle{
    padding: 8px;    
    align-items: center;
    text-align: center;
    border: 2px solid green;
    border-radius: 20px;
}
.title{
    color:rgb(32, 32, 32) ;
    font-size: 24px;
    font-weight:700;
}
.para{
    font-size: 15px;
    font-weight: 500;
    color: rgb(128, 128, 128);
}
.first-btn{
    font-size: 15px;
    font-weight: 500;
    color: rgb(100, 200, 255);
    border: none;
}
.second-btn{
    font-size: 15px;
    font-weight: 500;
    color: rgb(240, 170, 0);
    border: none;
}
.third-btn{
    font-size: 15px;
    font-weight: 500;
    color: rgb(135, 0, 255);
    border: none;
}